<h2>Item is now for Sale</h2>

<table>
<caption>Details</caption>
	<tr>
		<td>
			Name
		</td>
		<td>
			<%= @item.name %>
		</td>
		
	</tr>
		<td>
			Price($)
		</td>
		<td>
			<%= @item.price %>
		</td>
	<tr>
		<td>
			Minimum Bid($)
		</td>
		<td>
			<%= @item.minbid  %>
		</td>
	</tr>
	<tr>
		<td>Description</td>
		<td>
			<%= @item.description %>
		</td>
	</tr>
	<% link_to 'Return Home', :controller => "home", :action => "index", :class => "button" %>
	<%= link_to 'Post Another Item', new_item_path, :class => "button" %>